## ANDROID

*.iml
.gradle
/app/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env

# SERVER

/server/package-lock.json
/server/package.json
/server/node_modules
/server/.env